{% extends "layout.html" %}

{% block title %}
    Covid Tester Homepage
{% endblock %}

{% block main %}
<div class="jumbotron text-center">
          <h1>Get tested for Covid</h1>
          <p>You're only one click away from your free audio Covid test. Just record yourself coughing, upload the audio file, and submit. We do the rest!</p>
</div>
<div id="coughContainer">
                <h1>Upload new File</h1>
                    <form action = "http://localhost:5000/diagnosis" method="POST" enctype="multipart/form-data">
                        <input class="btn btn-outline-success" type="file" name="file"/>
<!--                            <button class="btn btn-secondary" type="file">Test For Covid!</button>-->
                        <br>
                        <br>
                        <input class="btn btn-outline-success" type="submit"/>
<!--                        <button class="btn btn-secondary" type="submit">Submit your cough</button>-->
                    </form>
</div>
{% endblock %}